/**
 * Classes for Colors
 *
 * @author  Maya
 * @since   22.03.2018
 */
@orange: lighten(#FBB058, 10%);
@green: lighten(#B5CF6C, 10%);
@yellow: lighten(#FEC85C, 10%);
@red: lighten(#E4867E, 10%);
@blue: lighten(#68B5D5, 10%);
@turquoise: lighten(#A7CAC1, 10%);
@darkGrey: #262323;
@lightGrey: #F1F1F1;
@grey: #6D6D6D;

@jodelColors:
        orange @orange,
        green @green,
        yellow @yellow,
        red @red,
        blue @blue,
        turquoise @turquoise,
        grey @grey,
        lightGrey @lightGrey;

@lightness: 10%;
@darkness: 20%;

.for-each(@value in @jodelColors) {

  @key: at(@value, 1);

  .generate-gradient(@key, lighten(at(@value, 2), 20%));

  // color classes
  .@{key} {color: at(@value, 2);}
  // light-color classes
  .light-@{key} {color: lighten(at(@value, 2), @lightness);}
  // dark-color classes
  .dark-@{key} {color: darken(at(@value, 2), @darkness);}

  // background-color classes
  .bg-@{key} {background-color: at(@value, 2);}
  // light-background-color classes
  .bg-light-@{key} {background-color: lighten(at(@value, 2), @lightness);}
  // dark-background-color classes
  .bg-dark-@{key} {background-color: darken(at(@value, 2), @darkness);}
}


.generate-gradient(@key, @value, @i:0, @d:0%) when (@i <= 9) {

  .hm-@{key}-@{i} {
    background-color: darken(@value, @d);
  }

  .generate-gradient(@key, @value, @i + 1, @d + 5%)
}