/**
 * Styles fot texts and headlines
 *
 * @author  Maya
 * @since   22.03.2018
 */

p {
  color: @darkGrey;
  font-size: 0.9em;
  margin: 0.8em 0;

  &:first-of-type {
    margin-top: 0;
  }
}

h2 {
  color: @darkGrey;
  font-size: 1.1em;
  margin-bottom: 0;
  border-bottom: solid;
  border-width: 1px;
  border-color: @grey;
}

h3 {
  color: @darkGrey;
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: bold;
}

input,textarea,button {
  color: @darkGrey;
  font-size: 0.9em;
  font-family: 'Fira Sans', sans-serif;
  border-style: none;
  outline: none;
}

textarea {
  width: 100%;
  resize: none;
  overflow:hidden;
  //border: solid;
  //padding: 8px;
  //box-sizing: border-box;
}

button {
  cursor: pointer;
  &:hover {
    filter: brightness(110%);
  }
}

.h3_value {
  font-weight: 400;
  font-size: 0.9em;
}

.tooltip {
  font-weight: 400;
  cursor: default;
  position: relative;
  display: inline-block;

  .infoIcon {
    color: @tooltipBackground;
    font-size: 0.87em;
  }

  .tooltiptext {
    font-size: 0.7em;
    visibility: hidden;
    width: 190px;
    background-color: @tooltipBackground;
    color: @lightGrey;
    text-align: left;
    border-radius: 1px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: @tooltipBackground transparent transparent transparent;
    }
  }

  .yourResult {
    width: 197px;
    margin-left: -83px;

    &:after {
      left: 40%;
    }
  }

  .timeResult {
    width: 230px;
    margin-left: -218px;

    &:after {

      left: 91%;
    }
  }

  .keywordResult {
    width: 267px;
    margin-left: -255px;

    &:after {

      left: 92%;
    }
  }
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}