<!--LEFT-->
<div class="col-3">
  <app-map-content  [map]="keywordContent.map"
                    [headline]="'Relevanz deines Schlagwortes in Deutschland'">
  </app-map-content>
</div>


<!--CENTER-->
<div class="col-3">

    <app-keyword-barchar-content [keywordBarchartArray]="keywordContent.relatedHashtags"
                                 [headline]="'Verwandte Hashtags'">
    </app-keyword-barchar-content>

    <div class="grid">
        <app-time-content [color]="keywordContent.color"
                          [time]="keywordContent.time"
                          [h3]="timeChartHeadline"></app-time-content>
    </div>

</div>


<!--RIGHT-->
<div class="col-3">

    <app-keyword-barchar-content [keywordBarchartArray]="keywordContent.similiarKeywords"
                                 [headline]="'Ähnliche Schlagworte und deren Popularität'">
    </app-keyword-barchar-content>

</div>
