
#map {
  position:relative;
  //background-color:#aaa;
  //background-image:url("map.png");
  background-size: contain;
}

.row {
  height:10px;
  width:100%;
}

.square {
  float: left;
  box-sizing:border-box;
  width: @barWidth;
  height: @barWidth;
  margin-right: @barPadding;
  margin-bottom: @barPadding;
  border-radius: @borderRadius;
  //border: 1px solid rgba(0,0,0,0.2);
  //background-color: #88a;
}

.square-fill {
  background-color: @lightGrey;
}

.selectedCity {
  width: 12px;
  margin-right: 0;
  height: 12px;
  margin-bottom: 0;
  border-radius: 2px 0 0 0;
}

.selectedCityBottom {
  width: 12px;
  margin-right: 0;
  border-radius: 0 0 0 2px;
}

.selectedCityBottomRight {
  border-radius: 0 0 2px 0;
}

.selectedCityRight {
  height: 12px;
  margin-bottom: 0;
  border-radius: 0 2px 0 0;
}

.info-box {
  display: block;
  position: absolute;
  height: 83px;
  width: 333px;
  //width: 133px;
  //background-color: red;

}
