
#map {
  position:relative;
  //background-color:#aaa;
  //background-image:url("map.png");
  background-size: contain;
}

.row {
  height:10px;
  width:100%;
}

.square {
  float: left;
  box-sizing:border-box;
  width: 8px;
  height: 8px;
  margin-right: 4px;
  margin-bottom: 4px;
  //border: 1px solid rgba(0,0,0,0.2);
  //background-color: #88a;
}

.square-fill {
  background-color: @lightGrey;
}

.info-box {
  display: block;
  position: absolute;
  height: 83px;
  width: 333px;
  //width: 133px;
  //background-color: red;

}
