<div class="bg-light-{{contentService.color}}">
    <div class="grid headerContainer">

        <!--ICON AND DROPDOWN-->
        <div class="col-3">
            <div class="jodelIcon">

                <select [(ngModel)]="contentService.currentContentpage">
                    <option *ngFor="let page of contentService.contentpages" [ngValue]="page">
                        {{page.title}}
                    </option>
                </select>

            </div>
        </div>

        <!--JODEL TEXT-->
        <div class="col-3 jodelText">
            <p>
                {{jodelText}}
            </p>
        </div>

        <!--LOCATION / TIME ???-->
        <div class="col-3">
            <p>{{location}}<br>{{time}}</p>
        </div>
    </div>
</div>
