<div [ngClass]="[contentService.currentContentpage ? '' : 'landingpage']">
    <div class="bg-light-{{contentService.color}}">
        <div class="grid headerContainer">
            <!--ICON AND DROPDOWN-->
            <div class="col-3">
                <div class="jodelIcon">
                    <app-content-page-selection></app-content-page-selection>
                </div>
            </div>

            <!--TODO disable input if currentContentage is set-->
            <!--JODEL TEXT-->
            <div class="col-3">
                <textarea rows="5"
                          placeholder="Good Vibes only!"
                          class="bg-light-{{contentService.color}}"
                          [ngModel]="jodel.text">
                </textarea>
            </div>

            <!--LOCATION / TIME / BUTTON-->
            <div class="col-3">
                <input type="text"
                       placeholder="Wähle deine Stadt"
                       class="bg-light-{{contentService.color}}"
                       [ngModel]="jodel.location"><br>

                <input type="time"
                       [ngModel]="jodel.time"
                       class="bg-light-{{contentService.color}}"><br><br>

                <button (click)="contentService.currentContentpage ? editJodel() : sendJodel()">
                    {{contentService.currentContentpage ? 'edit' : 'send'}}
                </button>
            </div>
        </div>
    </div>

    <!--COLORS-->
    <div class="grid"
         *ngIf="!contentService.currentContentpage">
        <app-color-palette></app-color-palette>
    </div>
</div>
