/**
 * Styles for HeaderComponent
 *
 * @author  Maya
 * @since   23.03.2018
 */

.headerContainer {
  height: 130px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.jodelText {
  height: 100%;
  //border-style: solid;
  //border-color: @darkGrey;
  //border-width: 1px;
}

.jodelIcon {
  height: 100%;
  background: url('assets/jodel_inv-free.png') no-repeat right center;
  background-size: contain;
}

.col-3 {
  height: 100%
}
