<div class="mainContainer">

    <!--switch by current contentpage-->
    <div class="grid"
         *ngIf="contentService.currentContentpage"
         [ngSwitch]="contentService.currentContentpage.type">

        <!--YOUR RESULT CONTENT-->
        <app-your-result-content *ngSwitchCase="CONTENTTYPE.YOUR_RESULT"
                                 [yourResultContent]="data.yourResultContent">
        </app-your-result-content>

        <!--KEYWORD CONTENT-->
        <app-keyword-content *ngSwitchCase="CONTENTTYPE.KEYWORD"
                             [keywordContent]="data.keywordContent[contentService.currentContentpage.id-1]">
        </app-keyword-content>

    </div>
</div>