/**
 * Styles for Grid
 *
 * @author  Maya
 * @since   22.03.2018
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid {
  padding: 20px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.col-1 {
  float: left;
  width: 11.11111111%;
  padding: 0 1%;
}
.col-2 {
  float: left;
  width: 22.22222222%;
  padding: 0 1%;
}
.col-3 {
  float: left;
  width: 33.33333333%;
  padding: 0 1%;
}
.col-4 {
  float: left;
  width: 44.44444444%;
  padding: 0 1%;
}
.col-5 {
  float: left;
  width: 55.55555556%;
  padding: 0 1%;
}
.col-6 {
  float: left;
  width: 66.66666667%;
  padding: 0 1%;
}
.col-7 {
  float: left;
  width: 77.77777778%;
  padding: 0 1%;
}
.col-8 {
  float: left;
  width: 88.88888889%;
  padding: 0 1%;
}
.col-9 {
  float: left;
  width: 100%;
  padding: 0 1%;
}
/**
 * Classes for Colors
 *
 * @author  Maya
 * @since   22.03.2018
 */
.orange {
  color: #FBB058;
}
.light-orange {
  color: #fcc88a;
}
.dark-orange {
  color: #faa43f;
}
.bg-orange {
  background-color: #FBB058;
}
.bg-light-orange {
  background-color: #fcc88a;
}
.bg-dark-orange {
  background-color: #faa43f;
}
.green {
  color: #B5CF6C;
}
.light-green {
  color: #c8dc92;
}
.dark-green {
  color: #abc959;
}
.bg-green {
  background-color: #B5CF6C;
}
.bg-light-green {
  background-color: #c8dc92;
}
.bg-dark-green {
  background-color: #abc959;
}
.yellow {
  color: #FEC85C;
}
.light-yellow {
  color: #fed98f;
}
.dark-yellow {
  color: #febf43;
}
.bg-yellow {
  background-color: #FEC85C;
}
.bg-light-yellow {
  background-color: #fed98f;
}
.bg-dark-yellow {
  background-color: #febf43;
}
.red {
  color: #E4867E;
}
.light-red {
  color: #edaea8;
}
.dark-red {
  color: #e07269;
}
.bg-red {
  background-color: #E4867E;
}
.bg-light-red {
  background-color: #edaea8;
}
.bg-dark-red {
  background-color: #e07269;
}
.blue {
  color: #68B5D5;
}
.light-blue {
  color: #90c9e0;
}
.dark-blue {
  color: #54abcf;
}
.bg-blue {
  background-color: #68B5D5;
}
.bg-light-blue {
  background-color: #90c9e0;
}
.bg-dark-blue {
  background-color: #54abcf;
}
.turquoise {
  color: #A7CAC1;
}
.light-turquoise {
  color: #c7ddd7;
}
.dark-turquoise {
  color: #97c0b6;
}
.bg-turquoise {
  background-color: #A7CAC1;
}
.bg-light-turquoise {
  background-color: #c7ddd7;
}
.bg-dark-turquoise {
  background-color: #97c0b6;
}
.grey {
  color: #6D6D6D;
}
.light-grey {
  color: #878787;
}
.dark-grey {
  color: #606060;
}
.bg-grey {
  background-color: #6D6D6D;
}
.bg-light-grey {
  background-color: #878787;
}
.bg-dark-grey {
  background-color: #606060;
}
.lightGrey {
  color: #F1F1F1;
}
.light-lightGrey {
  color: #ffffff;
}
.dark-lightGrey {
  color: #e4e4e4;
}
.bg-lightGrey {
  background-color: #F1F1F1;
}
.bg-light-lightGrey {
  background-color: #ffffff;
}
.bg-dark-lightGrey {
  background-color: #e4e4e4;
}
/**
 * Styles fot texts and headlines
 *
 * @author  Maya
 * @since   22.03.2018
 */
p {
  color: #262323;
  font-size: 0.9em;
  margin: 0.8em 0;
}
h2 {
  color: #262323;
  font-size: 1.1em;
  margin-bottom: 0;
  border-bottom: solid;
  border-width: 1px;
  border-color: #6D6D6D;
}
h3 {
  color: #262323;
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 5px;
}
input,
textarea,
button {
  font-family: 'Fira Sans', sans-serif;
  border-style: none;
  outline: none;
}
button {
  cursor: pointer;
}
button:hover {
  filter: brightness(110%);
}
/**
 * Styles for AppComponent
 *
 * @author  Maya
 * @since   22.03.2018
 */
.mainContainer {
  max-width: 1440px;
  margin: 0 auto;
}
/**
 * Styles for HeaderComponent
 *
 * @author  Maya
 * @since   23.03.2018
 */
.landingpage {
  padding-top: 150px;
}
.headerContainer {
  height: 126px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.headerContainer textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
}
.headerContainer button {
  padding: 5px 10px;
  background-color: #FBB058;
}
.jodelIcon {
  height: 100%;
  background: url('assets/jodel_inv-free.png') no-repeat right center;
  background-size: contain;
}
.col-3 {
  height: 100%;
}
.colorBox {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.bar {
  height: 20px;
  width: 8px;
  margin-right: 4px;
  float: left;
}
.quad {
  width: 8px;
  height: 8px;
  margin-top: 4px;
}
.long {
  height: 12px;
  margin-top: 0;
}
.hours {
  float: left;
  margin-right: 4px;
}
