/**
 * Styles for Grid
 *
 * @author  Maya
 * @since   22.03.2018
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
.no-scroll {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.grid {
  padding: 20px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.m-t-0 {
  margin-top: 0 !important;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}
.col-1 {
  float: left;
  width: 11.11111111%;
  padding: 0 1%;
}
.col-2 {
  float: left;
  width: 22.22222222%;
  padding: 0 1%;
}
.col-3 {
  float: left;
  width: 33.33333333%;
  padding: 0 1%;
}
.col-4 {
  float: left;
  width: 44.44444444%;
  padding: 0 1%;
}
.col-5 {
  float: left;
  width: 55.55555556%;
  padding: 0 1%;
}
.col-6 {
  float: left;
  width: 66.66666667%;
  padding: 0 1%;
}
.col-7 {
  float: left;
  width: 77.77777778%;
  padding: 0 1%;
}
.col-8 {
  float: left;
  width: 88.88888889%;
  padding: 0 1%;
}
.col-9 {
  float: left;
  width: 100%;
  padding: 0 1%;
}
input,
textarea,
button {
  color: #262323;
}
input[disabled],
textarea[disabled] {
  background-color: inherit;
  color: #262323;
}
/**
 * Classes for Colors
 *
 * @author  Maya
 * @since   22.03.2018
 */
.hm-orange-0 {
  background-color: #fef0de;
}
.hm-orange-1 {
  background-color: #fee4c6;
}
.hm-orange-2 {
  background-color: #fdd8ad;
}
.hm-orange-3 {
  background-color: #fccc94;
}
.hm-orange-4 {
  background-color: #fcc07b;
}
.hm-orange-5 {
  background-color: #fbb562;
}
.hm-orange-6 {
  background-color: #fba949;
}
.hm-orange-7 {
  background-color: #fa9d30;
}
.hm-orange-8 {
  background-color: #f99117;
}
.hm-orange-9 {
  background-color: #f18506;
}
.orange {
  color: #fcc88a;
}
.light-orange {
  color: #fddfbc;
}
.dark-orange {
  color: #fa9826;
}
.bg-orange {
  background-color: #fcc88a;
}
.bg-light-orange {
  background-color: #fddfbc;
}
.bg-dark-orange {
  background-color: #fa9826;
}
.hm-green-0 {
  background-color: #e9f1d4;
}
.hm-green-1 {
  background-color: #e0ebc1;
}
.hm-green-2 {
  background-color: #d6e4ad;
}
.hm-green-3 {
  background-color: #ccde9a;
}
.hm-green-4 {
  background-color: #c3d887;
}
.hm-green-5 {
  background-color: #b9d274;
}
.hm-green-6 {
  background-color: #afcb60;
}
.hm-green-7 {
  background-color: #a6c54d;
}
.hm-green-8 {
  background-color: #9abb3d;
}
.hm-green-9 {
  background-color: #8aa837;
}
.green {
  color: #c8dc92;
}
.light-green {
  color: #dce8b9;
}
.dark-green {
  color: #a2c246;
}
.bg-green {
  background-color: #c8dc92;
}
.bg-light-green {
  background-color: #dce8b9;
}
.bg-dark-green {
  background-color: #a2c246;
}
.hm-yellow-0 {
  background-color: #fff6e5;
}
.hm-yellow-1 {
  background-color: #ffeecc;
}
.hm-yellow-2 {
  background-color: #ffe5b2;
}
.hm-yellow-3 {
  background-color: #fedd99;
}
.hm-yellow-4 {
  background-color: #fed47f;
}
.hm-yellow-5 {
  background-color: #fecb66;
}
.hm-yellow-6 {
  background-color: #fec34d;
}
.hm-yellow-7 {
  background-color: #feba33;
}
.hm-yellow-8 {
  background-color: #feb21a;
}
.hm-yellow-9 {
  background-color: #fda902;
}
.yellow {
  color: #fed98f;
}
.light-yellow {
  color: #ffeac1;
}
.dark-yellow {
  color: #feb729;
}
.bg-yellow {
  background-color: #fed98f;
}
.bg-light-yellow {
  background-color: #ffeac1;
}
.bg-dark-yellow {
  background-color: #feb729;
}
.hm-red-0 {
  background-color: #fcf1f0;
}
.hm-red-1 {
  background-color: #f7dddb;
}
.hm-red-2 {
  background-color: #f3c9c6;
}
.hm-red-3 {
  background-color: #efb5b1;
}
.hm-red-4 {
  background-color: #eaa29c;
}
.hm-red-5 {
  background-color: #e68e86;
}
.hm-red-6 {
  background-color: #e17a71;
}
.hm-red-7 {
  background-color: #dd665c;
}
.hm-red-8 {
  background-color: #d95347;
}
.hm-red-9 {
  background-color: #d43f32;
}
.red {
  color: #edaea8;
}
.light-red {
  color: #f6d5d2;
}
.dark-red {
  color: #db5e54;
}
.bg-red {
  background-color: #edaea8;
}
.bg-light-red {
  background-color: #f6d5d2;
}
.bg-dark-red {
  background-color: #db5e54;
}
.hm-blue-0 {
  background-color: #d4eaf3;
}
.hm-blue-1 {
  background-color: #c0e0ed;
}
.hm-blue-2 {
  background-color: #acd6e8;
}
.hm-blue-3 {
  background-color: #98cce2;
}
.hm-blue-4 {
  background-color: #84c3dd;
}
.hm-blue-5 {
  background-color: #70b9d7;
}
.hm-blue-6 {
  background-color: #5cafd2;
}
.hm-blue-7 {
  background-color: #48a5cc;
}
.hm-blue-8 {
  background-color: #379bc4;
}
.hm-blue-9 {
  background-color: #318bb0;
}
.blue {
  color: #90c9e0;
}
.light-blue {
  color: #b8dceb;
}
.dark-blue {
  color: #40a1ca;
}
.bg-blue {
  background-color: #90c9e0;
}
.bg-light-blue {
  background-color: #b8dceb;
}
.bg-dark-blue {
  background-color: #40a1ca;
}
.hm-turquoise-0 {
  background-color: #fdfefe;
}
.hm-turquoise-1 {
  background-color: #edf4f2;
}
.hm-turquoise-2 {
  background-color: #ddebe7;
}
.hm-turquoise-3 {
  background-color: #cde1dc;
}
.hm-turquoise-4 {
  background-color: #bdd7d1;
}
.hm-turquoise-5 {
  background-color: #adcec5;
}
.hm-turquoise-6 {
  background-color: #9dc4ba;
}
.hm-turquoise-7 {
  background-color: #8ebbaf;
}
.hm-turquoise-8 {
  background-color: #7eb1a4;
}
.hm-turquoise-9 {
  background-color: #6ea799;
}
.turquoise {
  color: #c7ddd7;
}
.light-turquoise {
  color: #e7f0ee;
}
.dark-turquoise {
  color: #87b7ab;
}
.bg-turquoise {
  background-color: #c7ddd7;
}
.bg-light-turquoise {
  background-color: #e7f0ee;
}
.bg-dark-turquoise {
  background-color: #87b7ab;
}
.hm-darkGrey-0 {
  background-color: #534d4d;
}
.hm-darkGrey-1 {
  background-color: #464040;
}
.hm-darkGrey-2 {
  background-color: #393434;
}
.hm-darkGrey-3 {
  background-color: #2b2828;
}
.hm-darkGrey-4 {
  background-color: #1e1c1c;
}
.hm-darkGrey-5 {
  background-color: #110f0f;
}
.hm-darkGrey-6 {
  background-color: #030303;
}
.hm-darkGrey-7 {
  background-color: #000000;
}
.hm-darkGrey-8 {
  background-color: #000000;
}
.hm-darkGrey-9 {
  background-color: #000000;
}
.darkGrey {
  color: #262323;
}
.light-darkGrey {
  color: #413b3b;
}
.dark-darkGrey {
  color: #000000;
}
.bg-darkGrey {
  background-color: #262323;
}
.bg-light-darkGrey {
  background-color: #413b3b;
}
.bg-dark-darkGrey {
  background-color: #000000;
}
.hm-lightGrey-0 {
  background-color: #ffffff;
}
.hm-lightGrey-1 {
  background-color: #f2f2f2;
}
.hm-lightGrey-2 {
  background-color: #e6e6e6;
}
.hm-lightGrey-3 {
  background-color: #d9d9d9;
}
.hm-lightGrey-4 {
  background-color: #cccccc;
}
.hm-lightGrey-5 {
  background-color: #bfbfbf;
}
.hm-lightGrey-6 {
  background-color: #b3b3b3;
}
.hm-lightGrey-7 {
  background-color: #a6a6a6;
}
.hm-lightGrey-8 {
  background-color: #999999;
}
.hm-lightGrey-9 {
  background-color: #8c8c8c;
}
.lightGrey {
  color: #F1F1F1;
}
.light-lightGrey {
  color: #ffffff;
}
.dark-lightGrey {
  color: #bebebe;
}
.bg-lightGrey {
  background-color: #F1F1F1;
}
.bg-light-lightGrey {
  background-color: #ffffff;
}
.bg-dark-lightGrey {
  background-color: #bebebe;
}
.hm-grey-0 {
  background-color: #989898;
}
.hm-grey-1 {
  background-color: #8c8c8c;
}
.hm-grey-2 {
  background-color: #7f7f7f;
}
.hm-grey-3 {
  background-color: #727272;
}
.hm-grey-4 {
  background-color: #656565;
}
.hm-grey-5 {
  background-color: #595959;
}
.hm-grey-6 {
  background-color: #4c4c4c;
}
.hm-grey-7 {
  background-color: #3f3f3f;
}
.hm-grey-8 {
  background-color: #323232;
}
.hm-grey-9 {
  background-color: #262626;
}
.grey {
  color: #6D6D6D;
}
.light-grey {
  color: #878787;
}
.dark-grey {
  color: #3a3a3a;
}
.bg-grey {
  background-color: #6D6D6D;
}
.bg-light-grey {
  background-color: #878787;
}
.bg-dark-grey {
  background-color: #3a3a3a;
}
/**
 * jodel icon farben
 */
.jodelIcon-orange {
  height: 100%;
  background: url('assets/jodel_inv-free_orange.png') no-repeat right center;
  background-size: contain;
}
.jodelIcon-green {
  height: 100%;
  background: url('assets/jodel_inv-free_green.png') no-repeat right center;
  background-size: contain;
}
.jodelIcon-yellow {
  height: 100%;
  background: url('assets/jodel_inv-free_yellow.png') no-repeat right center;
  background-size: contain;
}
.jodelIcon-red {
  height: 100%;
  background: url('assets/jodel_inv-free_red.png') no-repeat right center;
  background-size: contain;
}
.jodelIcon-blue {
  height: 100%;
  background: url('assets/jodel_inv-free_blue.png') no-repeat right center;
  background-size: contain;
}
.jodelIcon-turquoise {
  height: 100%;
  background: url('assets/jodel_inv-free_turquoise.png') no-repeat right center;
  background-size: contain;
}
/**
 * Classes for Colors
 *
 * @author  Maya
 * @since   22.03.2018
 */
.hm-orange-0 {
  background-color: #fef0de;
}
.hm-orange-1 {
  background-color: #fee4c6;
}
.hm-orange-2 {
  background-color: #fdd8ad;
}
.hm-orange-3 {
  background-color: #fccc94;
}
.hm-orange-4 {
  background-color: #fcc07b;
}
.hm-orange-5 {
  background-color: #fbb562;
}
.hm-orange-6 {
  background-color: #fba949;
}
.hm-orange-7 {
  background-color: #fa9d30;
}
.hm-orange-8 {
  background-color: #f99117;
}
.hm-orange-9 {
  background-color: #f18506;
}
.orange {
  color: #fcc88a;
}
.light-orange {
  color: #fddfbc;
}
.dark-orange {
  color: #fa9826;
}
.bg-orange {
  background-color: #fcc88a;
}
.bg-light-orange {
  background-color: #fddfbc;
}
.bg-dark-orange {
  background-color: #fa9826;
}
.hm-green-0 {
  background-color: #e9f1d4;
}
.hm-green-1 {
  background-color: #e0ebc1;
}
.hm-green-2 {
  background-color: #d6e4ad;
}
.hm-green-3 {
  background-color: #ccde9a;
}
.hm-green-4 {
  background-color: #c3d887;
}
.hm-green-5 {
  background-color: #b9d274;
}
.hm-green-6 {
  background-color: #afcb60;
}
.hm-green-7 {
  background-color: #a6c54d;
}
.hm-green-8 {
  background-color: #9abb3d;
}
.hm-green-9 {
  background-color: #8aa837;
}
.green {
  color: #c8dc92;
}
.light-green {
  color: #dce8b9;
}
.dark-green {
  color: #a2c246;
}
.bg-green {
  background-color: #c8dc92;
}
.bg-light-green {
  background-color: #dce8b9;
}
.bg-dark-green {
  background-color: #a2c246;
}
.hm-yellow-0 {
  background-color: #fff6e5;
}
.hm-yellow-1 {
  background-color: #ffeecc;
}
.hm-yellow-2 {
  background-color: #ffe5b2;
}
.hm-yellow-3 {
  background-color: #fedd99;
}
.hm-yellow-4 {
  background-color: #fed47f;
}
.hm-yellow-5 {
  background-color: #fecb66;
}
.hm-yellow-6 {
  background-color: #fec34d;
}
.hm-yellow-7 {
  background-color: #feba33;
}
.hm-yellow-8 {
  background-color: #feb21a;
}
.hm-yellow-9 {
  background-color: #fda902;
}
.yellow {
  color: #fed98f;
}
.light-yellow {
  color: #ffeac1;
}
.dark-yellow {
  color: #feb729;
}
.bg-yellow {
  background-color: #fed98f;
}
.bg-light-yellow {
  background-color: #ffeac1;
}
.bg-dark-yellow {
  background-color: #feb729;
}
.hm-red-0 {
  background-color: #fcf1f0;
}
.hm-red-1 {
  background-color: #f7dddb;
}
.hm-red-2 {
  background-color: #f3c9c6;
}
.hm-red-3 {
  background-color: #efb5b1;
}
.hm-red-4 {
  background-color: #eaa29c;
}
.hm-red-5 {
  background-color: #e68e86;
}
.hm-red-6 {
  background-color: #e17a71;
}
.hm-red-7 {
  background-color: #dd665c;
}
.hm-red-8 {
  background-color: #d95347;
}
.hm-red-9 {
  background-color: #d43f32;
}
.red {
  color: #edaea8;
}
.light-red {
  color: #f6d5d2;
}
.dark-red {
  color: #db5e54;
}
.bg-red {
  background-color: #edaea8;
}
.bg-light-red {
  background-color: #f6d5d2;
}
.bg-dark-red {
  background-color: #db5e54;
}
.hm-blue-0 {
  background-color: #d4eaf3;
}
.hm-blue-1 {
  background-color: #c0e0ed;
}
.hm-blue-2 {
  background-color: #acd6e8;
}
.hm-blue-3 {
  background-color: #98cce2;
}
.hm-blue-4 {
  background-color: #84c3dd;
}
.hm-blue-5 {
  background-color: #70b9d7;
}
.hm-blue-6 {
  background-color: #5cafd2;
}
.hm-blue-7 {
  background-color: #48a5cc;
}
.hm-blue-8 {
  background-color: #379bc4;
}
.hm-blue-9 {
  background-color: #318bb0;
}
.blue {
  color: #90c9e0;
}
.light-blue {
  color: #b8dceb;
}
.dark-blue {
  color: #40a1ca;
}
.bg-blue {
  background-color: #90c9e0;
}
.bg-light-blue {
  background-color: #b8dceb;
}
.bg-dark-blue {
  background-color: #40a1ca;
}
.hm-turquoise-0 {
  background-color: #fdfefe;
}
.hm-turquoise-1 {
  background-color: #edf4f2;
}
.hm-turquoise-2 {
  background-color: #ddebe7;
}
.hm-turquoise-3 {
  background-color: #cde1dc;
}
.hm-turquoise-4 {
  background-color: #bdd7d1;
}
.hm-turquoise-5 {
  background-color: #adcec5;
}
.hm-turquoise-6 {
  background-color: #9dc4ba;
}
.hm-turquoise-7 {
  background-color: #8ebbaf;
}
.hm-turquoise-8 {
  background-color: #7eb1a4;
}
.hm-turquoise-9 {
  background-color: #6ea799;
}
.turquoise {
  color: #c7ddd7;
}
.light-turquoise {
  color: #e7f0ee;
}
.dark-turquoise {
  color: #87b7ab;
}
.bg-turquoise {
  background-color: #c7ddd7;
}
.bg-light-turquoise {
  background-color: #e7f0ee;
}
.bg-dark-turquoise {
  background-color: #87b7ab;
}
.hm-darkGrey-0 {
  background-color: #534d4d;
}
.hm-darkGrey-1 {
  background-color: #464040;
}
.hm-darkGrey-2 {
  background-color: #393434;
}
.hm-darkGrey-3 {
  background-color: #2b2828;
}
.hm-darkGrey-4 {
  background-color: #1e1c1c;
}
.hm-darkGrey-5 {
  background-color: #110f0f;
}
.hm-darkGrey-6 {
  background-color: #030303;
}
.hm-darkGrey-7 {
  background-color: #000000;
}
.hm-darkGrey-8 {
  background-color: #000000;
}
.hm-darkGrey-9 {
  background-color: #000000;
}
.darkGrey {
  color: #262323;
}
.light-darkGrey {
  color: #413b3b;
}
.dark-darkGrey {
  color: #000000;
}
.bg-darkGrey {
  background-color: #262323;
}
.bg-light-darkGrey {
  background-color: #413b3b;
}
.bg-dark-darkGrey {
  background-color: #000000;
}
.hm-lightGrey-0 {
  background-color: #ffffff;
}
.hm-lightGrey-1 {
  background-color: #f2f2f2;
}
.hm-lightGrey-2 {
  background-color: #e6e6e6;
}
.hm-lightGrey-3 {
  background-color: #d9d9d9;
}
.hm-lightGrey-4 {
  background-color: #cccccc;
}
.hm-lightGrey-5 {
  background-color: #bfbfbf;
}
.hm-lightGrey-6 {
  background-color: #b3b3b3;
}
.hm-lightGrey-7 {
  background-color: #a6a6a6;
}
.hm-lightGrey-8 {
  background-color: #999999;
}
.hm-lightGrey-9 {
  background-color: #8c8c8c;
}
.lightGrey {
  color: #F1F1F1;
}
.light-lightGrey {
  color: #ffffff;
}
.dark-lightGrey {
  color: #bebebe;
}
.bg-lightGrey {
  background-color: #F1F1F1;
}
.bg-light-lightGrey {
  background-color: #ffffff;
}
.bg-dark-lightGrey {
  background-color: #bebebe;
}
.hm-grey-0 {
  background-color: #989898;
}
.hm-grey-1 {
  background-color: #8c8c8c;
}
.hm-grey-2 {
  background-color: #7f7f7f;
}
.hm-grey-3 {
  background-color: #727272;
}
.hm-grey-4 {
  background-color: #656565;
}
.hm-grey-5 {
  background-color: #595959;
}
.hm-grey-6 {
  background-color: #4c4c4c;
}
.hm-grey-7 {
  background-color: #3f3f3f;
}
.hm-grey-8 {
  background-color: #323232;
}
.hm-grey-9 {
  background-color: #262626;
}
.grey {
  color: #6D6D6D;
}
.light-grey {
  color: #878787;
}
.dark-grey {
  color: #3a3a3a;
}
.bg-grey {
  background-color: #6D6D6D;
}
.bg-light-grey {
  background-color: #878787;
}
.bg-dark-grey {
  background-color: #3a3a3a;
}
/**
 * Styles fot texts and headlines
 *
 * @author  Maya
 * @since   22.03.2018
 */
p {
  color: #262323;
  font-size: 0.9em;
  margin: 0.8em 0;
}
p:first-of-type {
  margin-top: 0;
}
h2 {
  color: #262323;
  font-size: 1.1em;
  margin-bottom: 0;
  border-bottom: solid;
  border-width: 1px;
  border-color: #6D6D6D;
}
h3 {
  color: #262323;
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 5px;
}
input,
textarea,
button {
  color: #262323;
  font-size: 0.9em;
  font-family: 'Fira Sans', sans-serif;
  border-style: none;
  outline: none;
}
textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
}
button {
  cursor: pointer;
}
button:hover {
  filter: brightness(110%);
}
.fifty {
  width: 50%;
  float: left;
}
.ng-autocomplete-dropdown {
  position: relative;
}
.ng-autocomplete-dropdown .ng-autocomplete-inputs {
  position: relative;
}
.ng-autocomplete-dropdown .ng-autocomplete-inputs input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #787878;
  opacity: 1;
  /* Firefox */
}
.ng-autocomplete-dropdown .ng-autocomplete-inputs input {
  width: 100%;
  font-weight: normal;
  outline: none !important;
  font-size: 15px;
  background-color: inherit;
  color: #262323;
}
.ng-autocomplete-dropdown .ng-autocomplete-placeholder {
  position: absolute;
  font-weight: normal;
  font-size: 15px;
  width: calc(96%);
}
.ng-autocomplete-dropdown .ng-dropdown {
  display: none;
  border: 1px solid #e0e0e0;
  z-index: 99999;
  max-height: 280px;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.ng-autocomplete-dropdown .ng-dropdown.open {
  display: block;
}
.ng-autocomplete-dropdown .ng-dropdown .dropdown-item {
  width: 100%;
  cursor: pointer;
  padding: 3px 8px;
  font-weight: normal;
  font-size: 15px;
  height: 24px;
}
.ng-autocomplete-dropdown .ng-dropdown .dropdown-item {
  background-color: #fff;
}
.bg-green .ng-autocomplete-dropdown .ng-dropdown .dropdown-item.active,
.bg-green .ng-autocomplete-placeholder {
  background-color: #c8dc92;
}
.bg-orange .ng-autocomplete-dropdown .ng-dropdown .dropdown-item.active,
.bg-orange .ng-autocomplete-placeholder {
  background-color: #fcc88a;
}
.bg-yellow .ng-autocomplete-dropdown .ng-dropdown .dropdown-item.active,
.bg-yellow .ng-autocomplete-placeholder {
  background-color: #fed98f;
}
.bg-red .ng-autocomplete-dropdown .ng-dropdown .dropdown-item.active,
.bg-red .ng-autocomplete-placeholder {
  background-color: #edaea8;
}
.bg-blue .ng-autocomplete-dropdown .ng-dropdown .dropdown-item.active,
.bg-blue .ng-autocomplete-placeholder {
  background-color: #90c9e0;
}
.bg-turquoise .ng-autocomplete-dropdown .ng-dropdown .dropdown-item.active,
.bg-turquoise .ng-autocomplete-placeholder {
  background-color: #c7ddd7;
}
.ng-autocomplete-dropdown .ng-dropdown .dropdown-item .dropdown-item-highlight {
  font-weight: bold;
}
.ng-autocomplete-dropdown-icon {
  display: none;
  width: 20px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-left: 1px solid #e0e0e0;
  cursor: pointer;
  z-index: 999;
  font-size: 12px;
  padding: 6px 0;
}
.ng-autocomplete-dropdown-icon:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #000;
  position: absolute;
  right: -12px;
  z-index: 999;
  top: 13px;
}
.ng-autocomplete-dropdown-icon.open:after {
  transform: rotate(180deg);
}
/**
 * Styles for AppComponent
 *
 * @author  Maya
 * @since   22.03.2018
 */
.mainContainer {
  width: 1440px;
  margin: 0 auto;
}
.loadingScreen {
  background-color: #ffffff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.loadingScreen h3 {
  color: #262323;
  text-align: center;
  font-weight: 300 !important;
  line-height: 1.7 !important;
}
@keyframes gif {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
  100% {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
}
.jodelGif-orange {
  animation: gif 2s ease-in-out infinite alternate;
  -webkit-animation: gif 2s ease-in-out infinite alternate;
}
.inlineBlock {
  display: inline-block;
}
@keyframes dots {
  50% {
    transform: translateY(-0.3rem);
    -webkit-transform: translateY(-0.3rem);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}
.d {
  animation: dots 1.5s ease-out infinite;
  -webkit-animation: dots 1.5s ease-out infinite;
}
.d-2 {
  animation-delay: .5s;
  -webkit-animation-delay: .5s;
}
.d-3 {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
/**
 * Styles for HeaderComponent
 *
 * @author  Maya
 * @since   23.03.2018
 */
.landingpage {
  padding-top: 300px;
}
.headerContainer {
  height: 126px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.headerContainer .sendEditButton {
  padding: 5px 10px;
  border-radius: 2px;
}
.headerContainer .sendEditButton[disabled] {
  filter: brightness(90%) !important;
}
.headerContainer .getRandomJodel {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  height: 86px;
  width: 86px;
  float: right;
}
.jodelIcon-orange {
  height: 100%;
  background: url('assets/jodel_inv-free_orange.png') no-repeat right center;
  background-size: contain;
}
.jodelIcon-green {
  height: 100%;
  background: url('assets/jodel_inv-free_green.png') no-repeat right center;
  background-size: contain;
}
.jodelIcon-yellow {
  height: 100%;
  background: url('assets/jodel_inv-free_yellow.png') no-repeat right center;
  background-size: contain;
}
.jodelIcon-red {
  height: 100%;
  background: url('assets/jodel_inv-free_red.png') no-repeat right center;
  background-size: contain;
}
.jodelIcon-blue {
  height: 100%;
  background: url('assets/jodel_inv-free_blue.png') no-repeat right center;
  background-size: contain;
}
.jodelIcon-turquoise {
  height: 100%;
  background: url('assets/jodel_inv-free_turquoise.png') no-repeat right center;
  background-size: contain;
}
.col-3 {
  height: 100%;
}
.roundedCorners {
  border-radius: 2px;
}
.colorBox {
  border-radius: 2px;
  width: 15px;
  height: 15px;
  margin-right: 6px;
  margin-bottom: 4px;
  padding: 0;
}
select {
  border: none;
  font-size: 1.3em;
  outline: none;
}
select option {
  border: none;
}
.radioSelector {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
  cursor: pointer;
  width: 150px;
  text-align: center;
  font-size: 1.3em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radioSelector input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark:hover {
  filter: brightness(110%);
}
.radioSelector input:checked ~ .checkmark:hover {
  filter: brightness(100%);
}
.green .checkmark {
  background-color: #c8dc92;
  border-radius: 2px;
}
.green.radioSelector input:checked ~ .checkmark {
  background-color: #a2c246;
}
.red .checkmark {
  background-color: #edaea8;
  border-radius: 2px;
}
.red.radioSelector input:checked ~ .checkmark {
  background-color: #db5e54;
}
.yellow .checkmark {
  background-color: #fed98f;
  border-radius: 2px;
}
.yellow.radioSelector input:checked ~ .checkmark {
  background-color: #feb729;
}
.orange .checkmark {
  background-color: #fcc88a;
  border-radius: 2px;
}
.orange.radioSelector input:checked ~ .checkmark {
  background-color: #fa9826;
}
.blue .checkmark {
  background-color: #90c9e0;
  border-radius: 2px;
}
.blue.radioSelector input:checked ~ .checkmark {
  background-color: #40a1ca;
}
.turquoise .checkmark {
  background-color: #c7ddd7;
  border-radius: 2px;
}
.turquoise.radioSelector input:checked ~ .checkmark {
  background-color: #87b7ab;
}
/* Create a custom radio button */
.checkmark {
  padding: 5px;
  color: #262323;
  cursor: pointer;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.radioSelector input:checked ~ .checkmark:after {
  display: block;
}
.slidemenu {
  display: flex;
  width: 135px;
  margin-left: 163px;
  margin-top: 10px;
}
.slidemenu .slideelement {
  margin: 2px;
}
.slidemenu .slidetitle {
  width: 94px;
  overflow: hidden;
}
.slidemenu .slidenav {
  margin: auto;
  text-align: center;
}
.slidemenu .slidearrow {
  cursor: pointer;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}
.slidemenu .slidearrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.slidemenu .slidearrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.bar {
  height: 20px;
  width: 8px;
  margin-right: 4px;
  float: left;
  border-radius: 1px;
}
.quad {
  width: 8px;
  height: 8px;
  margin-top: 4px;
  border-radius: 1px;
}
.long {
  height: 12px;
  margin-top: 0;
}
.hours {
  float: left;
  margin-right: 4px;
}
#map {
  position: relative;
  background-size: contain;
}
.row {
  height: 10px;
  width: 100%;
}
.square {
  float: left;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 1px;
}
.square-fill {
  background-color: #F1F1F1;
}
.selectedCity {
  width: 12px;
  margin-right: 0;
  height: 12px;
  margin-bottom: 0;
  border-radius: 2px 0 0 0;
}
.selectedCityBottom {
  width: 12px;
  margin-right: 0;
  border-radius: 0 0 0 2px;
}
.selectedCityBottomRight {
  border-radius: 0 0 2px 0;
}
.selectedCityRight {
  height: 12px;
  margin-bottom: 0;
  border-radius: 0 2px 0 0;
}
.info-box {
  display: block;
  position: absolute;
  height: 83px;
  width: 333px;
}
.relatedJodel input[disabled],
.relatedJodel textarea[disabled],
.relatedJodel button[disabled] {
  background-color: white;
  color: #262323;
}
