/**
 * Styles for Grid
 *
 * @author  Maya
 * @since   22.03.2018
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
.no-scroll {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.grid {
  padding: 20px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.m-t-0 {
  margin-top: 0 !important;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}
.col-1 {
  float: left;
  width: 11.11111111%;
  padding: 0 1%;
}
.col-2 {
  float: left;
  width: 22.22222222%;
  padding: 0 1%;
}
.col-3 {
  float: left;
  width: 33.33333333%;
  padding: 0 1%;
}
.col-4 {
  float: left;
  width: 44.44444444%;
  padding: 0 1%;
}
.col-5 {
  float: left;
  width: 55.55555556%;
  padding: 0 1%;
}
.col-6 {
  float: left;
  width: 66.66666667%;
  padding: 0 1%;
}
.col-7 {
  float: left;
  width: 77.77777778%;
  padding: 0 1%;
}
.col-8 {
  float: left;
  width: 88.88888889%;
  padding: 0 1%;
}
.col-9 {
  float: left;
  width: 100%;
  padding: 0 1%;
}
input,
textarea,
button {
  color: #262323;
}
input[disabled],
textarea[disabled],
button[disabled] {
  background-color: inherit;
  color: #262323;
}
/**
 * Classes for Colors
 *
 * @author  Maya
 * @since   22.03.2018
 */
.hm-orange-0 {
  background-color: #fff7ed;
}
.hm-orange-1 {
  background-color: #feebd5;
}
.hm-orange-2 {
  background-color: #fddfbc;
}
.hm-orange-3 {
  background-color: #fdd3a3;
}
.hm-orange-4 {
  background-color: #fcc88a;
}
.hm-orange-5 {
  background-color: #fcbc71;
}
.hm-orange-6 {
  background-color: #fbb058;
}
.hm-orange-7 {
  background-color: #faa43f;
}
.hm-orange-8 {
  background-color: #fa9826;
}
.hm-orange-9 {
  background-color: #f98d0d;
}
.orange {
  color: #fcc88a;
}
.light-orange {
  color: #fddfbc;
}
.dark-orange {
  color: #fcc88a;
}
.bg-orange {
  background-color: #fcc88a;
}
.bg-light-orange {
  background-color: #fddfbc;
}
.bg-dark-orange {
  background-color: #fcc88a;
}
.hm-green-0 {
  background-color: #eff5df;
}
.hm-green-1 {
  background-color: #e5eecc;
}
.hm-green-2 {
  background-color: #dce8b9;
}
.hm-green-3 {
  background-color: #d2e2a6;
}
.hm-green-4 {
  background-color: #c8dc92;
}
.hm-green-5 {
  background-color: #bfd57f;
}
.hm-green-6 {
  background-color: #b5cf6c;
}
.hm-green-7 {
  background-color: #abc959;
}
.hm-green-8 {
  background-color: #a2c246;
}
.hm-green-9 {
  background-color: #94b43b;
}
.green {
  color: #c8dc92;
}
.light-green {
  color: #dce8b9;
}
.dark-green {
  color: #c8dc92;
}
.bg-green {
  background-color: #c8dc92;
}
.bg-light-green {
  background-color: #dce8b9;
}
.bg-dark-green {
  background-color: #c8dc92;
}
.hm-yellow-0 {
  background-color: #fffbf4;
}
.hm-yellow-1 {
  background-color: #fff3db;
}
.hm-yellow-2 {
  background-color: #ffeac1;
}
.hm-yellow-3 {
  background-color: #fee2a8;
}
.hm-yellow-4 {
  background-color: #fed98f;
}
.hm-yellow-5 {
  background-color: #fed175;
}
.hm-yellow-6 {
  background-color: #fec85c;
}
.hm-yellow-7 {
  background-color: #febf43;
}
.hm-yellow-8 {
  background-color: #feb729;
}
.hm-yellow-9 {
  background-color: #feae10;
}
.yellow {
  color: #fed98f;
}
.light-yellow {
  color: #ffeac1;
}
.dark-yellow {
  color: #fed98f;
}
.bg-yellow {
  background-color: #fed98f;
}
.bg-light-yellow {
  background-color: #ffeac1;
}
.bg-dark-yellow {
  background-color: #fed98f;
}
.hm-red-0 {
  background-color: #fefdfd;
}
.hm-red-1 {
  background-color: #fae9e7;
}
.hm-red-2 {
  background-color: #f6d5d2;
}
.hm-red-3 {
  background-color: #f1c1bd;
}
.hm-red-4 {
  background-color: #edaea8;
}
.hm-red-5 {
  background-color: #e89a93;
}
.hm-red-6 {
  background-color: #e4867e;
}
.hm-red-7 {
  background-color: #e07269;
}
.hm-red-8 {
  background-color: #db5e54;
}
.hm-red-9 {
  background-color: #d74b3f;
}
.red {
  color: #edaea8;
}
.light-red {
  color: #f6d5d2;
}
.dark-red {
  color: #edaea8;
}
.bg-red {
  background-color: #edaea8;
}
.bg-light-red {
  background-color: #f6d5d2;
}
.bg-dark-red {
  background-color: #edaea8;
}
.hm-blue-0 {
  background-color: #e0f0f6;
}
.hm-blue-1 {
  background-color: #cce6f1;
}
.hm-blue-2 {
  background-color: #b8dceb;
}
.hm-blue-3 {
  background-color: #a4d2e6;
}
.hm-blue-4 {
  background-color: #90c9e0;
}
.hm-blue-5 {
  background-color: #7cbfdb;
}
.hm-blue-6 {
  background-color: #68b5d5;
}
.hm-blue-7 {
  background-color: #54abcf;
}
.hm-blue-8 {
  background-color: #40a1ca;
}
.hm-blue-9 {
  background-color: #3494bc;
}
.blue {
  color: #90c9e0;
}
.light-blue {
  color: #b8dceb;
}
.dark-blue {
  color: #90c9e0;
}
.bg-blue {
  background-color: #90c9e0;
}
.bg-light-blue {
  background-color: #b8dceb;
}
.bg-dark-blue {
  background-color: #90c9e0;
}
.hm-turquoise-0 {
  background-color: #ffffff;
}
.hm-turquoise-1 {
  background-color: #f2f2f2;
}
.hm-turquoise-2 {
  background-color: #e6e6e6;
}
.hm-turquoise-3 {
  background-color: #d9d9d9;
}
.hm-turquoise-4 {
  background-color: #cccccc;
}
.hm-turquoise-5 {
  background-color: #bfbfbf;
}
.hm-turquoise-6 {
  background-color: #b3b3b3;
}
.hm-turquoise-7 {
  background-color: #a6a6a6;
}
.hm-turquoise-8 {
  background-color: #999999;
}
.hm-turquoise-9 {
  background-color: #8c8c8c;
}
.turquoise {
  color: #c7ddd7;
}
.light-turquoise {
  color: #e7f0ee;
}
.dark-turquoise {
  color: #c7ddd7;
}
.bg-turquoise {
  background-color: #c7ddd7;
}
.bg-light-turquoise {
  background-color: #e7f0ee;
}
.bg-dark-turquoise {
  background-color: #c7ddd7;
}
.hm-darkGrey-0 {
  background-color: #5b5454;
}
.hm-darkGrey-1 {
  background-color: #4e4848;
}
.hm-darkGrey-2 {
  background-color: #413b3b;
}
.hm-darkGrey-3 {
  background-color: #332f2f;
}
.hm-darkGrey-4 {
  background-color: #262323;
}
.hm-darkGrey-5 {
  background-color: #191717;
}
.hm-darkGrey-6 {
  background-color: #0b0b0b;
}
.hm-darkGrey-7 {
  background-color: #000000;
}
.hm-darkGrey-8 {
  background-color: #000000;
}
.hm-darkGrey-9 {
  background-color: #000000;
}
.darkGrey {
  color: #262323;
}
.light-darkGrey {
  color: #413b3b;
}
.dark-darkGrey {
  color: #262323;
}
.bg-darkGrey {
  background-color: #262323;
}
.bg-light-darkGrey {
  background-color: #413b3b;
}
.bg-dark-darkGrey {
  background-color: #262323;
}
.hm-lightGrey-0 {
  background-color: #ffffff;
}
.hm-lightGrey-1 {
  background-color: #f2f2f2;
}
.hm-lightGrey-2 {
  background-color: #e6e6e6;
}
.hm-lightGrey-3 {
  background-color: #d9d9d9;
}
.hm-lightGrey-4 {
  background-color: #cccccc;
}
.hm-lightGrey-5 {
  background-color: #bfbfbf;
}
.hm-lightGrey-6 {
  background-color: #b3b3b3;
}
.hm-lightGrey-7 {
  background-color: #a6a6a6;
}
.hm-lightGrey-8 {
  background-color: #999999;
}
.hm-lightGrey-9 {
  background-color: #8c8c8c;
}
.lightGrey {
  color: #F1F1F1;
}
.light-lightGrey {
  color: #ffffff;
}
.dark-lightGrey {
  color: #f1f1f1;
}
.bg-lightGrey {
  background-color: #F1F1F1;
}
.bg-light-lightGrey {
  background-color: #ffffff;
}
.bg-dark-lightGrey {
  background-color: #f1f1f1;
}
.hm-grey-0 {
  background-color: #a0a0a0;
}
.hm-grey-1 {
  background-color: #939393;
}
.hm-grey-2 {
  background-color: #878787;
}
.hm-grey-3 {
  background-color: #7a7a7a;
}
.hm-grey-4 {
  background-color: #6d6d6d;
}
.hm-grey-5 {
  background-color: #606060;
}
.hm-grey-6 {
  background-color: #545454;
}
.hm-grey-7 {
  background-color: #474747;
}
.hm-grey-8 {
  background-color: #3a3a3a;
}
.hm-grey-9 {
  background-color: #2d2d2d;
}
.grey {
  color: #6D6D6D;
}
.light-grey {
  color: #878787;
}
.dark-grey {
  color: #6d6d6d;
}
.bg-grey {
  background-color: #6D6D6D;
}
.bg-light-grey {
  background-color: #878787;
}
.bg-dark-grey {
  background-color: #6d6d6d;
}
/**
 * Styles fot texts and headlines
 *
 * @author  Maya
 * @since   22.03.2018
 */
p {
  color: #262323;
  font-size: 0.9em;
  margin: 0.8em 0;
}
p:first-of-type {
  margin-top: 0;
}
h2 {
  color: #262323;
  font-size: 1.1em;
  margin-bottom: 0;
  border-bottom: solid;
  border-width: 1px;
  border-color: #6D6D6D;
}
h3 {
  color: #262323;
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 5px;
}
input,
textarea,
button {
  color: #262323;
  font-size: 0.9em;
  font-family: 'Fira Sans', sans-serif;
  border-style: none;
  outline: none;
}
textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
}
button {
  cursor: pointer;
}
button:hover {
  filter: brightness(110%);
}
.fifty {
  width: 50%;
  float: left;
}
.ng-autocomplete-dropdown {
  position: relative;
}
.ng-autocomplete-dropdown .ng-autocomplete-inputs {
  position: relative;
}
.ng-autocomplete-dropdown .ng-autocomplete-inputs input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #262323;
  opacity: 1;
  /* Firefox */
}
.ng-autocomplete-dropdown .ng-autocomplete-inputs input {
  width: 100%;
  font-weight: normal;
  outline: none !important;
  font-size: 15px;
  background-color: inherit;
  color: #262323;
}
.ng-autocomplete-dropdown .ng-autocomplete-placeholder {
  position: absolute;
  font-weight: normal;
  font-size: 15px;
  width: calc(96%);
}
.ng-autocomplete-dropdown .ng-dropdown {
  display: none;
  border: 1px solid #e0e0e0;
  z-index: 99999;
  max-height: 280px;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.ng-autocomplete-dropdown .ng-dropdown.open {
  display: block;
}
.ng-autocomplete-dropdown .ng-dropdown .dropdown-item {
  width: 100%;
  cursor: pointer;
  padding: 3px 8px;
  font-weight: normal;
  font-size: 15px;
  height: 24px;
}
.ng-autocomplete-dropdown .ng-dropdown .dropdown-item {
  background-color: #fff;
}
.bg-green .ng-autocomplete-dropdown .ng-dropdown .dropdown-item.active,
.bg-green .ng-autocomplete-placeholder {
  background-color: #c8dc92;
}
.bg-orange .ng-autocomplete-dropdown .ng-dropdown .dropdown-item.active,
.bg-orange .ng-autocomplete-placeholder {
  background-color: #fcc88a;
}
.bg-yellow .ng-autocomplete-dropdown .ng-dropdown .dropdown-item.active,
.bg-yellow .ng-autocomplete-placeholder {
  background-color: #fed98f;
}
.bg-red .ng-autocomplete-dropdown .ng-dropdown .dropdown-item.active,
.bg-red .ng-autocomplete-placeholder {
  background-color: #edaea8;
}
.bg-blue .ng-autocomplete-dropdown .ng-dropdown .dropdown-item.active,
.bg-blue .ng-autocomplete-placeholder {
  background-color: #90c9e0;
}
.bg-turquoise .ng-autocomplete-dropdown .ng-dropdown .dropdown-item.active,
.bg-turquoise .ng-autocomplete-placeholder {
  background-color: #c7ddd7;
}
.ng-autocomplete-dropdown .ng-dropdown .dropdown-item .dropdown-item-highlight {
  font-weight: bold;
}
.ng-autocomplete-dropdown-icon {
  display: none;
  width: 20px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-left: 1px solid #e0e0e0;
  cursor: pointer;
  z-index: 999;
  font-size: 12px;
  padding: 6px 0;
}
.ng-autocomplete-dropdown-icon:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #000;
  position: absolute;
  right: -12px;
  z-index: 999;
  top: 13px;
}
.ng-autocomplete-dropdown-icon.open:after {
  transform: rotate(180deg);
}
/**
 * Styles for AppComponent
 *
 * @author  Maya
 * @since   22.03.2018
 */
.mainContainer {
  max-width: 1440px;
  margin: 0 auto;
}
/**
 * Styles for HeaderComponent
 *
 * @author  Maya
 * @since   23.03.2018
 */
.landingpage {
  padding-top: 300px;
}
.headerContainer {
  height: 126px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.headerContainer .sendEditButton {
  padding: 5px 10px;
  border-radius: 2px;
}
.jodelIcon-orange {
  height: 100%;
  background: url('assets/jodel_inv-free_orange.png') no-repeat right center;
  background-size: contain;
}
.jodelIcon-green {
  height: 100%;
  background: url('assets/jodel_inv-free_green.png') no-repeat right center;
  background-size: contain;
}
.jodelIcon-yellow {
  height: 100%;
  background: url('assets/jodel_inv-free_yellow.png') no-repeat right center;
  background-size: contain;
}
.jodelIcon-red {
  height: 100%;
  background: url('assets/jodel_inv-free_red.png') no-repeat right center;
  background-size: contain;
}
.jodelIcon-blue {
  height: 100%;
  background: url('assets/jodel_inv-free_blue.png') no-repeat right center;
  background-size: contain;
}
.jodelIcon-turquoise {
  height: 100%;
  background: url('assets/jodel_inv-free_turquoise.png') no-repeat right center;
  background-size: contain;
}
.col-3 {
  height: 100%;
}
.roundedCorners {
  border-radius: 2px;
}
.colorBox {
  border-radius: 2px;
  width: 15px;
  height: 15px;
  margin-right: 6px;
  margin-bottom: 4px;
  padding: 0;
}
select {
  border: none;
  font-size: 1.3em;
  outline: none;
}
select option {
  border: none;
}
.bar {
  height: 20px;
  width: 8px;
  margin-right: 4px;
  float: left;
  border-radius: 1px;
}
.quad {
  width: 8px;
  height: 8px;
  margin-top: 4px;
  border-radius: 1px;
}
.long {
  height: 12px;
  margin-top: 0;
}
.hours {
  float: left;
  margin-right: 4px;
}
#map {
  position: relative;
  background-size: contain;
}
.row {
  height: 10px;
  width: 100%;
}
.square {
  float: left;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 1px;
}
.square-fill {
  background-color: #F1F1F1;
}
.info-box {
  display: block;
  position: absolute;
  height: 83px;
  width: 333px;
}
.relatedJodel input[disabled],
.relatedJodel textarea[disabled],
.relatedJodel button[disabled] {
  background-color: white;
  color: #262323;
}
